<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>



  <div class="flex justify-between items-center">
    
  </div> 

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl"></h1>
  </div>

<div class="px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-base font-semibold leading-6 text-gray-900"> Videos for <%= link_to @course.name, edit_course_path(@course) %> </h1>
      <p class="mt-2 text-sm text-gray-700"><%= @course.description %></p>
    </div>
    <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
      <%= link_to "New Video", new_course_video_path(@course), 
        class: "block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
    </div>
  </div>
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-300">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Name</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Youtbe ID</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">CTA</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">description</th>
                <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
                  <span class="sr-only">Edit</span>
                </th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
            <% @videos.each do |v| %>
              <tr>
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">  <%= v.name %></td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= v.youtube_id %></td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= v.call_to_action %></td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= v.description %></td>
                <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                  <%= link_to 'Edit', edit_course_video_path(@course, v), class: 'text-indigo-600 hover:text-indigo-900' %>
                </td>
              </tr>
            <% end %>
      
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
