
<% @courses.each do |course| %>
    <article class="flex flex-col items-start justify-between">
    
        <% if course.main_image.attached? %>
          <%= image_tag course.main_image, alt: 'image', class: 'aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]' %>
        <% else %>
          <%= image_tag 'placeholder.png', alt: 'default image', class: 'aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]' %>
        <% end %>



      <div class="max-w-xl">
        <div class="mt-8 flex items-center gap-x-4 text-xs">          
        </div>
        <div class="group relative">
          <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
            
              <span class="absolute inset-0"></span>
              <%= course.name %>
            
          </h3>
          <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600"><%= course.description %></p></p>
        </div>

        <div class="relative mt-8 flex items-center gap-x-4">
          
          <div class="text-sm leading-6">
            <% if course.videos.any? %>
              <span class="inline-flex items-center rounded-full bg-green-50 px-2 py-1 text-base font-medium text-green-700 ring-1 ring-inset ring-green-600/20"><%= link_to "Ver curso", course %></span>
              <% else %>
              <span class="inline-flex items-center  px-2 py-1 text-base font-medium text-grey-700 "><%= "Por venir" %></span>
            <% end %>
        </div>
        <% if current_user&.admin? %>
              <span class="inline-flex items-center rounded-full bg-green-50 px-2 py-1 text-base font-medium text-green-700 ring-1 ring-inset ring-green-600/20"><%= link_to "Editar Cursro", course %></span>
            <% end %>
      </div>
      
    </article>
<% end %>