
  <header class="absolute inset-x-0 top-0 z-50">
    <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
    
      <div class="flex lg:flex-1">
        <%= link_to root_path, class: "-m-1.5 p-1.5" do %>
          <span class="sr-only">IglesiasPro</span>
          <%= image_tag "https://iglesiaspro.com/hubfs/Icon_%20Iglesias%20Pro.png", alt: "", class: "h-8 w-auto" %>
        <% end %>
      </div>

      <%
=begin%>
 <div class="flex lg:hidden">
        <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-400">
          <span class="sr-only">Open main menu</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </button>
      </div> 
<%
=end%>
      <div class="hidden lg:flex lg:gap-x-12">
        <%= link_to 'Home', root_path, class: "text-sm font-semibold leading-6 text-black" %>
        <%= link_to 'Cursos', courses_path, class: "text-sm font-semibold leading-6 text-black" %>
        <%= link_to 'Blog', courses_path, class: "text-sm font-semibold leading-6 text-black" %>
      </div>
      <div class="hidden lg:flex lg:flex-1 lg:justify-end lg:gap-x-12">
        <% if user_signed_in? %>
        <%= link_to 'Profile', edit_user_registration_path, class: "text-sm font-semibold leading-6 text-black" %>
        <%= button_to 'Log Out', destroy_user_session_path, method: :delete, class: 'text-sm font-semibold leading-6 text-black' %>

      <% else %>
        <%= link_to 'Sign in', new_user_session_path, class: "text-sm font-semibold leading-6 text-black" %>
        <%= link_to 'Signup', new_user_registration_path, class: "text-sm font-semibold leading-6 text-black" %>
      <% end %>
  
      </div>
    </nav>

  </header>